/*Text Fieled*/
body{
    margin: 0;
    padding: 0;
}
.pure-material-textfield-standard {
	user-select: none;
    position: relative;
    display: inline-block;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
}

/* Input, Textarea */
.pure-material-textfield-standard > input,
.pure-material-textfield-standard > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 3px #dbdbdb;
    padding: 0 0 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;
}

/* Span */
.pure-material-textfield-standard > input + span,
.pure-material-textfield-standard > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 70%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Underline */
.pure-material-textfield-standard > input + span::after,
/*.pure-material-textfield-standard > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.2s;
}*/

/* Hover */
.pure-material-textfield-standard > input:hover,
.pure-material-textfield-standard > textarea:hover {
    border-bottom-color: gray;
}

/* Placeholder-shown */
.pure-material-textfield-standard > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-standard > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 56px;
}

/* Focus */
.pure-material-textfield-standard > input:focus,
.pure-material-textfield-standard > textarea:focus {
    outline: none;
}

.pure-material-textfield-standard > input:focus + span,
.pure-material-textfield-standard > textarea:focus + span {
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-standard > input:focus + span::before,
.pure-material-textfield-standard > textarea:focus + span::before {
    opacity: 0.12;
}

.pure-material-textfield-standard > input:focus + span::after,
.pure-material-textfield-standard > textarea:focus + span::after {
    transform: scale(1);
}

/* Disabled */
.pure-material-textfield-standard > input:disabled,
.pure-material-textfield-standard > textarea:disabled {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-textfield-standard > input:disabled + span,
.pure-material-textfield-standard > textarea:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-standard > input,
        .pure-material-textfield-standard > input + span,
        .pure-material-textfield-standard > input + span::after,
        .pure-material-textfield-standard > textarea,
        .pure-material-textfield-standard > textarea + span,
        .pure-material-textfield-standard > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}
/*input ends*/
.inputUsername{
	width: 100%;
}
.errorLogin{
    font-family: sans-serif;
	font-size: 14px;
    margin-bottom: 0px;
    color: red;
    position: relative;
    margin: 0px 0px;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../image/rwitcBackground2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.myCard{
    margin: 10px;
    background: #fff;
    width: 30%;
    border-radius: 15px;
    border-bottom: 1px hidden #fff;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    text-decoration: none;
}
.myCard form{
    margin: 25px;
    margin-top: -70px;
}
.formFooter{
    margin-top: 20px;
    text-align: center;
}
.mainlogoContainer{
    position: relative;
    top: -90px;
    display: flex;
    justify-content: center;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    width: 60%;
    height: 250px;
}
.logoContainer img{
    width: 70%;
}
.help-block a{
    margin: 50px 0px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    color: #f3714d;
}
.help-block a:hover{
    color: #2d3e50;
}
.btnLogin{
    outline: none;
    margin-top: 15px;
    background: #082756;
    border: none;
    color: #fff;
    padding: 20px 35px;
}
.btnLogin:hover {
    background: #434f61;
}
.txtVersion{
    font-family: sans-serif;
    font-size: 14px;
    color: #5d4c4c;
}
@media only screen and (min-device-width : 1920px) {
    .logoContainer img {
        width: 50%;
    }
}

@media only screen and (max-device-width : 1920px) {
    .logoContainer img {
        width: 59%;
    }
}

@media only screen and (max-device-width : 1600px) {
    .logoContainer img {
        width: 59%;
    }
}

@media only screen and (max-device-width : 1024px) {
    .myCard{
        width: 50%;
    }
    .logoContainer img {
        width: 60%;
    }
}

@media only screen and (max-device-width : 768px) {
    .logoContainer img {
        width: 75%;
    }
}

@media only screen and (max-device-width : 420px) {
    .myCard{
        width: 100%;
    }
    .logoContainer{
        height: 200px;
    }
    .mainlogoContainer{
        top: -70px;
    }
    .logoContainer img {
        width: 65%;
    }
}
@media only screen and (max-device-width : 360px) {
    .logoContainer img {
        width: 72%;
    }
}