<div style="background: linear-gradient(100deg, #dc3545, #fd7e14);" class="tile">
  <div class="tile-heading" style="background: linear-gradient(45deg, #dc3545, #fd7e14);" ><?php echo "TOTAL TRAINERS"; ?> <span class="pull-left">
    <!-- <?php if ($percentage > 0) { ?>
    <i class="fa fa-caret-up"></i>
    <?php } elseif ($percentage < 0) { ?>
    <i class="fa fa-caret-down"></i>
    <?php } ?>
    <?php echo $percentage; ?>%</span> --></div>
  <div class="" style="background: linear-gradient(120deg, #dc3545, #fd7e14);">
    <h2 style="text-align: center;"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer" style="background: linear-gradient(45deg, #dc3545, #fd7e14);"><a href="<?php echo $trainer; ?>"><?php echo $text_view; ?></a></div>
</div>
