<div style="border-radius: 5px">
    <a href="<?php echo $jockey_at_glance; ?>"><div class="tile" style="background: linear-gradient(106deg, #200122, #6f0000);">
        <div class="tile-heading" style="background: linear-gradient(72deg, #200122, #6f0000);"></div>
        <div class="">
            <h4 style="font-size: 14px;padding-top: 5px;text-align: center;"><?php echo "Jockey At Glance"; ?></h4>
        </div>
        <div class="tile-footer" style="background: linear-gradient(106deg, #200122, #6f0000);"></div>
    </div></a>
</div>
