<div style="background: linear-gradient(106deg, #200122, #6f0000);" class="tile">
  <div class="tile-heading" style="background: linear-gradient(45deg, #200122, #6f0000);"><?php echo "TOTAL JOCKEY"; ?><span class="pull-left"></div>
  <div class="" style="background: linear-gradient(106deg, #200122, #6f0000);">
    <h2 style="text-align: center;"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer" style="background: linear-gradient(45deg, #200122, #6f0000);"><a href="<?php echo $jockey; ?>"><?php echo $text_view; ?></a></div>
</div>
