<div style="border-radius: 5px">
  <div class="tile" style="background: linear-gradient(100deg, #764BA2 4%, #667EEA 65%);">
  <div class="tile-heading" style="background: linear-gradient(72deg, #764BA2 4%, #667EEA 65%);"><?php echo "TOTAL HORSES"; ?> <span class="pull-left">
    <!-- <?php if ($percentage > 0) { ?>
    <i class="fa fa-caret-up"></i>
    <?php } elseif ($percentage < 0) { ?>
    <i class="fa fa-caret-down"></i>
    <?php } ?>
    <?php echo $percentage; ?>%</span> --></div>
  <div class="">
    <h2 style="text-align: center;"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer" style="background: linear-gradient(100deg, #764BA2 4%, #667EEA 65%);"><a href="<?php echo $horse; ?>"><?php echo $text_view; ?></a></div>
</div>
</div>
