<div style="<?php echo $color2; ?>" class="tile">
  <div class="tile-heading" style="<?php echo $color1; ?>"><?php echo "Undertaking Charge"; ?> <span class="pull-left"></div>
  <div class="" style="<?php echo $color; ?>">
    <h2 style="text-align: center;" ><?php echo $total_undertaking_charge; ?></h2>
  </div>
  <div class="tile-footer" style="<?php echo $color1; ?>"><a href="<?php echo $undertaking_charge_report_link; ?>"><?php echo 'View more...'; ?></a></div>
</div>



