<div style="background: linear-gradient(100deg, #000428, #004e92);" class="tile">
  <div class="tile-heading" style="background: linear-gradient(45deg, #000428, #004e92);"><?php echo "TOTAL OWNERS"; ?> <span class="pull-left">
    <!-- <?php if ($percentage > 0) { ?>
    <i class="fa fa-caret-up"></i>
    <?php } elseif ($percentage < 0) { ?>
    <i class="fa fa-caret-down"></i>
    <?php } ?>
    <?php echo $percentage; ?>% </span> --></div>
  <div class="" style="background: linear-gradient(109deg, #000428, #004e92);">
    <h2 style="text-align: center;"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer" style="background: linear-gradient(45deg, #000428, #004e92);"><a href="<?php echo $owner; ?>"><?php echo $text_view; ?></a></div>
</div>
