<div style="border-radius: 5px">
    <a href="<?php echo $trainer_at_glance; ?>"><div class="tile" style="background: linear-gradient(100deg, #dc3545, #fd7e14);">
        <div class="tile-heading" style="background: linear-gradient(72deg, #dc3545, #fd7e14);"></div>
        <div class="">
            <h4 style="font-size: 14px;padding-top: 5px;text-align: center;"><?php echo "Trainer At Glance"; ?></h4>
        </div>
        <div class="tile-footer" style="background: linear-gradient(100deg, #dc3545, #fd7e14);"></div>
    </div></a>
</div>
