<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-user-group" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1><?php echo $heading_title; ?></h1>
			<ul class="breadcrumb">
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<?php if ($error_warning) { ?>
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php } ?>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
			</div>
			<div class="panel-body">
				<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-user-group" class="form-horizontal">
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
						<div class="col-sm-10">
							<input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
							<?php if ($error_name) { ?>
							<div class="text-danger"><?php echo $error_name; ?></div>
							<?php  } ?>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><?php echo $entry_access; ?></label>
						<div class="col-sm-10">
							<div class="well well-sm" style="height: 150px; overflow: auto;">
								<?php foreach ($permissions as $permission => $pvalue) { ?>
								<div class="checkbox">
									<label>
										<?php if (in_array($permission, $access)) { ?>
										<input type="checkbox" class="access_permissions" name="permission[access][]" value="<?php echo $permission; ?>" checked="checked" />
										<?php echo $pvalue; ?>
										<?php } else { ?>
										<input type="checkbox" class="access_permissions" name="permission[access][]" value="<?php echo $permission; ?>" />
										<?php echo $pvalue; ?>
										<?php } ?>
									</label>
								</div>
								<?php } ?>
							</div>
								<div class="checkbox">
									<label><input type="checkbox" id="access_permission" />&nbsp;&nbsp;Select All/Unselect All</label>
								</div>
							<!-- <a onclick="$(this).parent().find(':checkbox').prop('checked', true);"><?php echo $text_select_all; ?></a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);"><?php echo $text_unselect_all; ?></a></div> -->
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><?php echo $entry_modify; ?></label>
						<div class="col-sm-10">
							<div class="well well-sm" style="height: 150px; overflow: auto;">
								<?php foreach ($permissions as $permission => $pvalue) { ?>
								<div class="checkbox">
									<label>
										<?php if (in_array($permission, $modify)) { ?>
										<input type="checkbox" class="modify_permissions" name="permission[modify][]" value="<?php echo $permission; ?>" checked="checked" />
										<?php echo $pvalue; ?>
										<?php } else { ?>
										<input type="checkbox" class="modify_permissions" name="permission[modify][]" value="<?php echo $permission; ?>" />
										<?php echo $pvalue; ?>
										<?php } ?>
									</label>
								</div>
								<?php } ?>
							</div>
								<div class="checkbox">
									<label><input type="checkbox" id="modify_permission" />&nbsp;&nbsp;Select All/Unselect All</label>
								</div>
							<!-- <a onclick="$(this).parent().find(':checkbox').prop('checked', true);"><?php echo $text_select_all; ?></a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);"><?php echo $text_unselect_all; ?></a></div> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).on('change', '#access_permission', function(){ 
	console.log($(this).prop('checked') );
    if ($(this).prop('checked') == true) {
        $('.access_permissions').prop('checked', true);
    } else {
        $('.access_permissions').prop('checked', false);
    }
});

$(document).on('change', '#modify_permission', function(){ 
	console.log($(this).prop('checked') );
    if ($(this).prop('checked') == true) {
        $('.modify_permissions').prop('checked', true);
    } else {
        $('.modify_permissions').prop('checked', false);
    }
});

</script>
<?php echo $footer; ?> 